test_base_gen
test_base_hello
test_base_lrpc
test_base_thread
test_hello
test_kthread_attach
test_kthread_wakeup
test_many_threads
test_multiple_runtimes
test_ping
test_runtime_smalloc
test_runtime_threads
test_runtime_channels
test_runtime_mutexes
test_runtime_rcu
test_runtime_timer
test_smalloc
test_thread
test_udp_echo
netperf
